In [21]:
import pandas as pd

In [22]:
df1 = pd.read_csv('../data/in/MOCK_DATA1.csv')
df2 = pd.read_csv('../data/in/MOCK_DATA2.csv')
df3 = pd.read_csv('../data/in/MOCK_DATA3.csv')
df4 = pd.read_csv('../data/in/MOCK_DATA4.csv')
df5 = pd.read_csv('../data/in/MOCK_DATA5.csv')
df6 = pd.read_csv('../data/in/MOCK_DATA6.csv')
df7 = pd.read_csv('../data/in/MOCK_DATA7.csv')

In [23]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])
df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7])

In [24]:
df.shape

(392000, 6)

In [25]:
df.head()

,id,first_name,last_name,email,gender,ip_address
0,1,Kimberly,McCague,kmccague0@instagram.com,Genderqueer,200.118.138.166
1,2,Eba,Sparkes,esparkes1@biglobe.ne.jp,Female,63.159.159.220
2,3,Ermanno,Gadeaux,egadeaux2@tiny.cc,Genderfluid,181.176.74.240
3,4,Karrie,Hayselden,khayselden3@jigsy.com,Male,219.200.227.117
4,5,Minerva,Allicock,mallicock4@miitbeian.gov.cn,Genderfluid,173.67.154.62

In [26]:
%%timeit
df['full_name'] = df.first_name.astype(str) + ' ' + df.last_name.astype(str)

123 ms ± 5.87 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [28]:
%%timeit
df[['first_name','last_name']].apply(lambda x : '{}{}'.format(x[0],x[1]), axis=1)

4.51 s ± 1.18 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [29]:
df.to_csv('../data/out/MOCK_DATA_3X.csv', index=False)